@page "/"

<p>
    <RadzenTextBox Value="@_phoneNumber" Placeholder="Введите номер телефона" Change="value => _phoneNumber = value" @ref="_textBox" Style="min-width: 200px;" />
    <RadzenButton Click=@(async args => { _phoneNumber = null; await _textBox.Element.FocusAsync(); }) Icon="clear" ButtonStyle="ButtonStyle.Light" Style="margin-left: -5px;" />
    <RadzenButton Click="PasteClick" Text="Вставить"></RadzenButton>
    <RadzenButton Click="SearchClick" Text="Поиск"></RadzenButton>
</p>

@if (_contact != null)
{
    <p class="icon-item">
        <RadzenIcon Icon="contact_page" />&nbsp;@_contact.DisplayName
    </p>
    @if (_contact.Tags != null)
    {
        <p>
            <RadzenDataList WrapItems="true" Data="@_contact.Tags">
                <Template Context="tag">
                    <div class="icon-item">
                        <RadzenIcon Icon="label" />&nbsp;@tag
                    </div>
                </Template>
            </RadzenDataList>
        </p>
    }
    @if (_contact.TagCount != null)
    {
        <p>
            Количество тегов: @_contact.TagCount
        </p>
    }
}
