@inject HttpClients.SettingsHttpClient _settingsHttpClient

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Contact Info</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/home">
                <RadzenIcon Icon="home"></RadzenIcon>&nbsp;Главная
            </NavLink>
        </li>
        @if (_searchContactHistoryPageMenuVisible)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="/search-contact-history">
                    <RadzenIcon Icon="history"></RadzenIcon>&nbsp;История поиска
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool _searchContactHistoryPageMenuVisible;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        var uiSettings = await _settingsHttpClient.GetUiSettingsAsync();
        _searchContactHistoryPageMenuVisible = uiSettings.SearchContactHistoryPageMenuVisible;
    }
}
